[submodule "components/far-edge-connection-provisioner"]
	path = components/far-edge-connection-provisioner
	url = git@github.com:fraunhoferportugal/far-edge-connection-provisioner.git
[submodule "components/far-edge-kubelet"]
	path = components/far-edge-kubelet
	url = git@github.com:fraunhoferportugal/far-edge-kubelet.git
[submodule "components/far-edge-node-watcher"]
	path = components/far-edge-node-watcher
	url = git@github.com:fraunhoferportugal/far-edge-node-watcher.git
