name: Docs build test

on:
  pull_request:
    branches:
      - main
      - development

jobs:
  test-build:
    name: Test deployment
    runs-on: ubuntu-latest
    defaults:
      run: 
        working-directory: ./docs/
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm

      - name: Install dependencies
        run: npm ci
      - name: Test build website
        run: npm run build

      - name: Publish archives as artifacts
        uses: actions/upload-artifact@v6
        with:
          name: build
          path: |
            ./build/
