apiVersion: v1
kind: ConfigMap
metadata:
  name: mqtt-config
data:
  mosquitto.conf: |-
    log_dest stdout

    listener {{ .Values.mqttBroker.containerPort }} 0.0.0.0
    protocol mqtt

    allow_anonymous true
    
    persistence true
    persistence_location /mosquitto/data/
